@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.main,
.main textarea {
  font-size: 16px;
  line-height: 24px;
  color: #f4f4f4;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  background-color: #17142f;
  height: 92vh;
}
.main .icon {
  width: 34px;
}
.main h1 {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  margin-top: 4rem;
}
.main form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  margin-top: 4rem;
  background-color: #292145;
  padding: 4rem 2rem 4rem 2rem;

  border-radius: 10px;
}
.main textarea[type="text"] {
  padding: 12px 16px;
  border: 1px solid #542cf2af;
  border-radius: 4px;
  margin-bottom: 18px;
  color: #f4f4f4;
  width: 285px;
  background-color: #55438f73;
}
.main ::placeholder {
  color: #9797ad;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #542cf2;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 320px;
  margin-top: 8px;
}
.result {
  width: auto;
  max-width: 650px;
  border: 1px solid #542cf2;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 2rem;
  background-color: #55438f73;
}
.resultTitle {
  margin-bottom: 0;
  padding-bottom: 0;
}
.instruction {
  margin: 0;
}

.featureText {
  color: #542cf2;
}

#goBack {
  height: 3rem;
  width: 8rem;
  background-color: #542cf2;
  border-radius: 4px;
  border: none;
  margin-top: 4rem;
  cursor: pointer;
  color: #f4f4f4;
}
